/**
 * All main footer related styling:
 */
body > footer {
    flex: 0 none;
    -webkit-flex: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    background-color: $colour-dark-grey;
    color: $colour-light-grey;
    font-size: 0.8em;

    section{
        display: inline-block;
    }
}

